<div>
	<h1 class="post_title"><%= @current_post['title'] %></h1> 
	<p class="comment_count"><%= @comments_feed.size %></p>
</div>
 <p><%= @current_post['name'] %>
<br>
<div class="vote">
	<form action="/upvote_post" method="POST">
		<p style="color: pink;display: inline-block; width: 1em;">
		<%= @current_post['upvotes'] %></p>
		<input type="hidden" name="post_id" value="<%= params[:id] %>">	
		<input type="hidden" name="_method" value="patch">
		<button type="input" class="upvote">
			<img class="post_vote" src="/images/thumbsup.png">
		</button>
	</form>
	<form action="/downvote_post" method="POST">
		<p style="color: #BF3600;display: inline-block; width: 1em;"><%= @current_post['downvotes'] %></p>
		<input type="hidden" name="post_id" value="<%= params[:id] %>">	
		<input type="hidden" name="_method" value="patch">
		<button type="input" class="downvote">
			<img class="post_vote" src="/images/thumbs down.png">
		</button>
	</form>
</div>

<div class="content"><%=  @markdown.render(@current_post['content']) %>
</div>

<br>
<div class="clear, comment_box">
	<form action="/new_comment" method="POST">
		<input type="hidden" name="user_id" value="<%= current_user %>">
		<input type="hidden" name="post_id" value="<%= params[:id] %>">	
		<textarea name="message" placeholder="comment goes here"></textarea><br>
		<input type="submit" value="Reply!">
	</form>
</div>
<% @comments_feed.each do |comment| %>
	<div style="border: solid black 1px; background-color: #ADD8E7">
		<div class="vote">
			<form action="/upvote_comment" method="POST">
				<p style="color: pink;display: inline-block; width: 1em;"><%= comment['upvotes'] %></p>
				<input type="hidden" name="post_id" value="<%= params[:id] %>">	
				<input type="hidden" name="comment_id" value="<%= comment['id'] %>">	
				<input type="hidden" name="_method" value="patch">
				<button type="input" class="upvote">
					<img class="comment_vote" src="/images/thumbsup.png">
				</button>
			</form>
			<form action="/downvote_comment" method="POST">
				<p style="color: #BF3600;display: inline-block; width: 1em;"><%= comment['downvotes'] %></p>
				<input type="hidden" name="post_id" value="<%= params[:id] %>">	
				<input type="hidden" name="comment_id" value="<%= comment['id'] %>">	
				<input type="hidden" name="_method" value="patch">
				<button type="input" class="downpvote">
					<img class="comment_vote" src="/images/thumbs down.png">
				</button>
		</form>
		</div>

		<div class="comment"><%= @markdown.render(comment['message']) %>
			<div class="reply_box, class">
				<form action="/reply" method="POST">
				<input type="hidden" name="comment_id" value="<%= comment['id'] %>">	
				<textarea style="color: black;" name="message" placeholder="reply goes here"></textarea><br>
				<input type="submit" value="submit">
				</form>
			</div>
		</div>
	</div>
<% end %>